<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="novozhilova.nastest">

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"



        android:label="@string/app_name"

        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        android:label="@string/about_title"


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".Buy"
            android:label="@string/buy">
        </activity>

        <activity android:name=".Attraction"
            android:label="@string/attraction">
        </activity>


        <activity android:name=".Mail"
            android:label="@string/mail">
        </activity>

        <activity android:name=".Pay"
            android:label="@string/pay">
        </activity>

        <activity android:name=".Statistic"
            android:label="@string/statistics">
        </activity>

        <activity android:name=".Transport"
            android:label="@string/transport">
        </activity>


    </application>

</manifest>
